{#
  {% include '_partials/nav/sub' with {
    'currentPageParent': sectionPage
    'currentPage': entry,
    'uri': currentPage.uri,
    'heading': heading,
    'entries': entries
  } only %}
#}
{% cache %}

  {% if currentPage is not defined %}
    {% set currentPage = entry %}
  {% endif %}

  {% if uri is not defined %}
    {% set uri = currentPage.uri %}
  {% endif %}

  {% if entries is defined and entries | length %}
    {% set subpages = entries %}
    {% set currentPageParentTitle = heading %}
  {% else %}
    {% if currentPageParent is defined %}
      {% set currentPageParentTitle = currentPageParent.title %}
      {% set subpages = currentPageParent.getChildren() %}
    {% else  %}
      {% if currentPage.getChildren() | length %}
        {% set subpages = currentPage.getChildren() %}
        {% set currentPageParentTitle = currentPage.title %}
      {% else %}
        {% if currentPage.getParent %}
          {% set currentPageParent = currentPage.getParent %}
          {% set currentPageParentTitle = currentPageParent.title %}
          {% set subpages = currentPageParent.getChildren() %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}


  {% if subpages is defined and subpages | length %}
    <div id="sub-nav" class="sub-nav">
      <h2 class="py-5 text-3xl font-bold text-white px-7 bg-brand-wine rounded-tl-2xl ">{{ currentPageParentTitle }}</h2>
      <ul class="divide-y bg-brand-brown rounded-br-2xl divide-white/20">
        {% nav subpage in subpages.all %}
          <li>
            <a class="block px-7 py-3 text-xl font-bold text-white hover:bg-white/20 {{ subpage.uri == uri ? 'bg-white/20' }}" href="{{ subpage.url }}">{{ subpage.title }}</a>
          </li>
        {% endnav %}
      </ul>
    </div>
  {% endif %}
{% endcache %}
