<header>
  <div class="hidden bg-brand-brown lg:block">
    <div class="px-4 xl:container xl:px-0">
      <div class="py-4 text-right">
        <div class="inline-block font-bold text-white uppercase border-r-2 border-r-white">
          <a href="{{ url('about-mvyata/become-a-member') }}" class="py-2 pr-4 hover:text-brand-gold">Membership</a>
        </div>
        <div class="inline-block font-bold text-white uppercase">
          <a href="{{ url('about-mvyata/brochures-and-forms') }}" class="py-2 pl-4 hover:text-brand-gold">Brochures and Forms</a>
        </div>
      </div>
    </div>
  </div>
  <div class="p-4 bg-brand-wine lg:p-0">
    <div class="xl:container">
      <div class="flex justify-around lg:items-center lg:justify-between">
        <div class="z-10 text-center lg:-my-14 logo grow lg:grow-0"><a href="/" title="Back to Home Page" class="inline-block"><img class="w-[165px] lg:w-[267px]" src="/img/MVYTA_logo.png" alt="{{ siteName }}" /></a></div>
        {% include '_partials/nav/main' %}
        <button type="button" aria-label="Main Navigation Toggle" title="Main Navigation Toggle" aria-haspopup="true" aria-controls="main-nav" aria-expanded="false" class="main-nav-toggle lg:hidden" id="main-nav-toggle">
          {{ svg("@webroot/img/icons/bars-solid.svg")|attr({class: 'h-8 w-8 inline-block text-white'}) }}
        </button>
      </div>
    </div>
  </div>
</header>
