<div class="p-10 mt-6 bg-brand-wine rounded-tl-2xl rounded-br-2xl">
  <div class="text-3xl font-bold text-white">{{ block.heading }}</div>
  <div class="bg-white/30 w-[200px] h-1 my-4"></div>
  <div class="text-xl text-white callout">
    {{ block.text }}
  </div>
</div>
